In [1]:
import pandas as pd
import datetime as dt

In [31]:
import numpy as np

In [56]:
data

,Time,Session Timer,Interval Timer,Speed(RPM),Power(w),Heart Beat,Stiffness
0,18:45:41,0:00:03,0:00:03,10.7,3.7,0,1
1,18:45:42,0:00:04,0:00:04,27.3,11.1,0,1
2,18:45:43,0:00:05,0:00:05,35.6,16.7,0,1
3,18:45:44,0:00:06,0:00:06,37.0,17.9,0,1
4,18:45:45,0:00:07,0:00:07,41.0,19.9,0,1
...,...,...,...,...,...,...,...
117,18:47:38,0:02:00,0:01:48,0.0,-0.0,0,3
118,18:47:39,0:02:01,0:01:49,0.0,-0.0,0,3
119,18:47:40,0:02:02,0:01:50,0.1,-0.0,0,3
120,18:47:41,0:02:03,0:01:51,0.0,-0.0,0,3
121,18:47:42,0:02:04,0:01:52,0.1,-0.0,0,3

In [2]:
from helpers.helper_functions import bike_v2_data_loader, bike_v3_data_loader

In [3]:
bike_v2_data_loader('../input/02_03_2023Time10_23_29_Dynamic_SS1_002.txt', 1, None)

,participant,session,date,timer,seconds_elapsed,speed_rpm,power_watt,heart_rate,id_sess
0,SS1,002,2023-02-03 10:23:35,00:00:02,2.0,20.0,4.3,0.0,SS1_002
1,SS1,002,2023-02-03 10:23:36,00:00:03,3.0,27.0,7.4,0.0,SS1_002
2,SS1,002,2023-02-03 10:23:37,00:00:04,4.0,39.0,11.1,0.0,SS1_002
3,SS1,002,2023-02-03 10:23:38,00:00:05,5.0,45.0,11.9,0.0,SS1_002
4,SS1,002,2023-02-03 10:23:39,00:00:06,6.0,54.0,13.4,0.0,SS1_002
...,...,...,...,...,...,...,...,...,...
1696,SS1,002,2023-02-03 10:53:37,00:30:05,1805.0,79.0,22.5,0.0,SS1_002
1697,SS1,002,2023-02-03 10:53:38,00:30:06,1806.0,80.0,22.3,0.0,SS1_002
1698,SS1,002,2023-02-03 10:53:39,00:30:07,1807.0,79.0,18.4,0.0,SS1_002
1699,SS1,002,2023-02-03 10:53:40,00:30:09,1809.0,80.0,12.1,0.0,SS1_002
1700,SS1,002,2023-02-03 10:53:41,00:30:10,1810.0,79.0,7.6,0.0,SS1_002

In [4]:
df = bike_v3_data_loader('../input/enth001_session001_01_12_2023Time20_00_36_Dynamic.txt', 1, None)

In [5]:
df[['participant', 'session', 'date', 'session_timer', 'seconds_elapsed_session', 'seconds_elapsed_interval', 'interval_timer', 'speed_rpm', 'power_watt', 'heart_rate', 'id_sess']]

,participant,session,date,session_timer,seconds_elapsed_session,seconds_elapsed_interval,interval_timer,speed_rpm,power_watt,heart_rate,id_sess
0,enth001,session001,2023-01-12 20:00:39,0:00:03,3.0,0.0,0:00:00,3.9,-1.2,73,enth001_session001
1,enth001,session001,2023-01-12 20:00:40,0:00:04,4.0,1.0,0:00:01,13.2,0.9,73,enth001_session001
2,enth001,session001,2023-01-12 20:00:41,0:00:05,5.0,2.0,0:00:02,22.5,1.7,73,enth001_session001
3,enth001,session001,2023-01-12 20:00:42,0:00:06,6.0,3.0,0:00:03,30.4,3.9,73,enth001_session001
4,enth001,session001,2023-01-12 20:00:43,0:00:07,7.0,4.0,0:00:04,40.5,2.5,73,enth001_session001
...,...,...,...,...,...,...,...,...,...,...,...
1812,enth001,session001,2023-01-12 20:30:51,0:30:15,1815.0,176.0,0:02:56,81.6,54.1,120,enth001_session001
1813,enth001,session001,2023-01-12 20:30:52,0:30:16,1816.0,177.0,0:02:57,80.9,48.0,120,enth001_session001
1814,enth001,session001,2023-01-12 20:30:53,0:30:17,1817.0,178.0,0:02:58,79.2,54.6,122,enth001_session001
1815,enth001,session001,2023-01-12 20:30:54,0:30:18,1818.0,179.0,0:02:59,79.8,54.1,121,enth001_session001
1816,enth001,session001,2023-01-12 20:30:55,0:30:19,1819.0,180.0,0:03:00,80.6,53.2,120,enth001_session001